body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
input {
  margin-left: 10px;
}
nav {
  display: flex;
}
header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10%;
  background-color: #012a4a;
  color: #a9d6e5;
  justify-content: center;
  align-items: center;
}
main {
  width: 100vw;
  margin: 0;
  background-color: #2c7da0;
  height: 85%;
  display: flex;
  flex-direction: column;
}
main > * > * {
  border: solid;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #012a4a;
  width: 100vw;
  height: 5%;
}
#mode {
  margin-right: 35px;
}
#logo {
  margin-right: 35px;
}
#lang {
  margin-left: 35px;
}
#wrapper {
  position: relative;
  top: 10%;
  left: 0;
  padding-top: 2%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  #first,
  #second,
  #third,
  #start {
    position: absolute;
    margin: 2px;
    color: white;
    display: flex;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    /* border: none; */
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
  }
  #start {
    top: 100px;
    transition: all 1s ease-out;
  }
  .start {
    transform: translateX(-125px);
    opacity: 0;
  }
  #first {
    z-index: 1;
    opacity: 0;
  }
  .first {
    transition: all 2s ease-out;
    opacity: 1 !important;
  }
  #second {
    top: 35px;
    opacity: 0%;
  }
  .second {
    top: 120px;
    transition: all 2s ease-out;
    opacity: 100% !important;
  }
  #third {
    top: 94px;
    opacity: 0;
  }
  .third {
    transition: all 2s ease-out;
    opacity: 1 !important;
  }
  input {
    width: 125px;
    margin-left: -2px;
  }
}
@media screen and (min-width: 481px) {
  html {
    background-color: lightseagreen;
  }
}
