body {
  background-color: lightslategray;
}
#wrapper {
  height: 800px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
#wrapper > div {
  border: solid;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper > div:hover {
  background-color: magenta;
  transform: scale(1.5);
}
